body {
	background-color: #232323;
	min-width: 400px;
	margin: 0;
	font-family: "Montserrat", "Avenir";
	font-weight: 700;
}

#container {
	width: 500px;
	margin: 20px auto;
}

.square {
	background-color: blue;
	padding-bottom: 30%;
	margin: 1.6%;
	width: 30%;
	float:left;
	border-radius: 10px;
	transition: display 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

#header {
	color: white;
	text-align: center;
	font-size: 1.7rem;
	background-color: steelblue;
	padding: 1.5% 5%;
	text-transform: uppercase;
	line-height: 0.0;
}

#score {
	font-size: 3.5rem;
}

.hide {
	display: none;
}

.nav {
	background-color: #FFFFFF;
	text-align: center;
}

.message {
	display: inline-block;
	width: 20%;
	font-weight: inherit;
}

button {

	height: 100%;
	text-transform: uppercase;
	font-weight: inherit;
	padding: 3px 10px;
	margin: 0 5px;
	border: none;
	outline: none;
	color:steelblue;
	letter-spacing: 1px;
	background: none;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

button:hover {
	color: white;
	background-color: steelblue;
	cursor: pointer;
}

.selected {
	background-color: steelblue;
	color: white;
}